<p id="notice"><%= notice %></p>

<h1>Generals</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @generals.each do |general| %>
      <tr>
        <td><%= general.question %></td>
        <td><%= general.answer %></td>
        <td><%= link_to 'Show', general %></td>
        <td><%= link_to 'Edit', edit_general_path(general) %></td>
        <td><%= link_to 'Destroy', general, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New General', new_general_path %>
