 <div class="container">
  <% @services.each do |service| %>
    <div class="row">
        <div class="col-md-4"><%= image_tag service.image.url %></div>
        <div class="col-md-8">
          <%= service.title %>
          <%= service.description %>
          <%= link_to 'Show', service_path(service) %>
          <%= link_to 'Edit', edit_service_path(service) %>
          <%= link_to 'Destroy', service_path(service), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
    </div>
  <% end %>
</div>