<p id="notice"><%= notice %></p>

<h1>Features</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Titile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @features.each do |feature| %>
      <tr>
        <td><%= feature.image %></td>
        <td><%= feature.titile %></td>
        <td><%= link_to 'Show', admin_feature_url(feature) %></td>
        <td><%= link_to 'Edit', edit_admin_feature_path(feature) %></td>
        <td><%= link_to 'Destroy', admin_feature_url(feature), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feature', new_admin_feature_path %>
