<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @demand.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @demand.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @demand.image %>
</p>

<%= link_to 'Edit', edit_admin_demand_path(@demand) %> |
<%= link_to 'Back', admin_demands_path %>
