<p id="notice"><%= notice %></p>

<h1>Ecommerces</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ecommerces.each do |ecommerce| %>
      <tr>
        <td><%= ecommerce.title %></td>
        <td><%= ecommerce.description %></td>
        <td><%= ecommerce.image %></td>
        <td><%= link_to 'Show', ecommerce %></td>
        <td><%= link_to 'Edit', edit_ecommerce_path(ecommerce) %></td>
        <td><%= link_to 'Destroy', ecommerce, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ecommerce', new_ecommerce_path %>
