<p id="notice"><%= notice %></p>

<h1>Licences</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @licences.each do |licence| %>
      <tr>
        <td><%= licence.question %></td>
        <td><%= licence.answer %></td>
        <td><%= link_to 'Show', admin_licence_path(licence) %></td>
        <td><%= link_to 'Edit', edit_admin_licence_path(licence) %></td>
        <td><%= link_to 'Destroy', admin_licence_path(licence), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Licence', new_admin_licence_path %>
