<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @licence.question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @licence.answer %>
</p>

<%= link_to 'Edit', edit_licence_path(@licence) %> |
<%= link_to 'Back', licences_path %>
