<%= form_for([:admin, @customer]) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %><br>
    <%= form.text_field :name, id: :customer_name %>
  </div>

  <div class="field">
    <%= form.label :designation %><br>
    <%= form.text_field :designation, id: :customer_designation %>
  </div>

  <div class="field">
    <%= form.label :message %><br>
    <%= form.cktext_area :message, id: :customer_message %>
  </div>

  <div class="field">
    <%= form.label :image %><br>
    <%= form.file_field :image, id: :customer_image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
