<% @aboutus.each do |aboutu| %>
	<div>
	 	<%= image_tag "HomeHeader.jpg", class: "h-image1" %>
	  	<center>
		  	<div class= "front-title2">
			    <h1>About Us</h1>
			    <h4><%= aboutu.title %></h4>
		  	</div>
		</center>
	</div><br><br><br><br><br>
	<center>
		<h4> About Us </h4>
		<h1><%= image_tag "left.png" %><%= aboutu.heading1 %><%= image_tag "right.png" %></h1>
	</center>
	<div class="container">
		<center><%= aboutu.body %></center>
	</div><br><br><br>
<% end %>
<center><p> Members </p>
	<h1><%= image_tag "left.png" %>Our Awesome Team!<%= image_tag "right.png" %></h1>
</center>
<center><div class="container">
  	<% @teams.each do |team| %>
	  <div class="div2 raise col-sm-3 col-sm-offset-0">
	  	<center><%= image_tag team.image.url, class: "img-circle"%>
	    <h3><%= team.name %></h3>
	    <p><%= team.designation %></p></center>
	  </div>
  	<% end %>
</div>
<div class="div3"><%= image_tag "testinomialbg.jpg", height:"470", width: "1500px;" %></div>
<div class="fact"><h1><%= image_tag "left.png" %>Some Interesting Fact about us<%= image_tag "right.png" %></h1></div>
	<div class="row cust">
		<div class="col-lg-3">650+<br>
		customers</div>
		<div class="col-lg-3">6500+<br>
		Working Hours</div>
		<div class="col-lg-3">780+<br>
		cups of coffee</div>
		<div class="col-lg-3">6000+<br>
		Lines Of Codes</div>
	</div>


	<div class= "a-contact1"></div>
	<div class= "b-contact1"><br>
		<h1><%= image_tag "left.png" %> Lets Contact With Us <%= image_tag "right.png" %></h1>
		<%= render "admin/contacts/form" %>	
	</div>
</center>
