<% @aboutus.each do |aboutu| %>
	<div>
	 	<%= image_tag "HomeHeader.jpg", class: "h-image1" %>
	  	<center>
		  	<div class= "front-title2">
			    <h1>About Us</h1>
			    <h4><%= aboutu.title %></h4>
		  	</div>
		</center>
	</div><br><br><br><br><br>
	<center>
		<h4> About Us </h4>
		<h1><%= image_tag "left.png" %><%= aboutu.heading1 %><%= image_tag "right.png" %></h1>
	</center>
	<div class="container">
		<center><%= aboutu.body %></center>
	</div><br><br><br>
<% end %>
<center><p> Members </p>
	<h1><%= image_tag "left.png" %>Our Awesome Team!<%= image_tag "right.png" %></h1>
</center>
<div class="container">
  	<% @teams.each do |team| %>
	  <div class="div2 raise col-md-3">
	  	<center><%= image_tag team.image.url, class: "img-circle"%>
	    <h3><%= team.name %></h3>
	    <p><%= team.designation %></p></center>
	  </div>
  	<% end %>
</div>
<div class="div3"><%= image_tag "testinomialbg.jpg", height:"360", width: "1300px;" %></div>
<div class="fact"><h1><%= image_tag "left.png" %>Some Interesting Fact about us<%= image_tag "right.png" %></h1></div>
<div class="cust">
	<h6>650+
	customers</h6>
	<h6> 6500+
	Working Hours</h6>
	<h6>780+
	cups of coffee</h6>
	<h6>6000+
	Lines Of Codes</h6>
</div>

<center>
	<div class= "a-contact"></div>
	<div class= "b-contact"><br>
		<h1><%= image_tag "left.png" %> Lets Contact With Us <%= image_tag "right.png" %></h1>
		<%= render "admin/contacts/form" %>	
	</div>
</center>
