<% @faqs.each do |faq| %>
  <div>
    <%= image_tag "HomeHeader.jpg", class: "h-image2" %>
    <div class= "front-title5">
      <center><h1><%= faq.title %></h1></center>
      <h4><%= faq.subtitle %></h4>
    </div>
  </div><br><br><br><br><br>
<% end %>
<div>
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="tab1" role="tabpanel">
                <!-- Nav tabs -->
                <div class="col-sm-3">
                    <ul class="nav nav-tabs1 col-sd-2" role="tablist" style="display: table-caption;">
                        <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">General</a></li>
                        <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">Licence</a></li>
                        <li role="presentation"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab">Payment</a></li>
                    </ul>
                </div>
                <!-- Tab panes -->
                <div class="col-sm-9">
                   <div class="tab-content tabs">
                        <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                            <h3>General<%= image_tag "right.png" %></h3>
                            <div class="wrapper center-block">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                  <% @generals.each_with_index do |general, index| %>
                                    <div class="panel panel-default">
                                        <div class="panel-heading active" role="tab" id="heading-<%= index%>">
                                          <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= index%>" aria-expanded="true" aria-controls="collapse-<%= index%>">
                                             <%= general.question %>
                                            </a>
                                          </h4>
                                        </div>
                                        <div id="collapse-<%= index%>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-<%= index%>">
                                            <div class="panel-body">
                                                <%= general.answer %>
                                            </div>
                                        </div>
                                    </div>
                                  <% end %>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="Section2">
                            <h3>Licence<%= image_tag "right.png" %></h3>
                            <div class="wrapper center-block">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <% @licences.each.with_index(20) do |licence, index| %>
                                      <div class="panel panel-default">
                                          <div class="panel-heading active" role="tab" id="heading-<%= index%>">
                                            <h4 class="panel-title">
                                              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= index%>" aria-expanded="true" aria-controls="collapse-<%= index%>">
                                               <%= licence.question %>
                                              </a>
                                            </h4>
                                          </div>
                                          <div id="collapse-<%= index%>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-<%= index%>">
                                              <div class="panel-body">
                                                  <%= licence.answer %>
                                              </div>
                                          </div>
                                      </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="Section3">
                            <h3>Payment<%= image_tag "right.png" %></h3>
                            <div class="wrapper center-block">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <% @payments.each.with_index(40) do |payment, index| %>
                                      <div class="panel panel-default">
                                          <div class="panel-heading active" role="tab" id="heading-<%= index%>">
                                            <h4 class="panel-title">
                                              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= index%>" aria-expanded="true" aria-controls="collapse-<%= index%>">
                                               <%= payment.question %>
                                              </a>
                                            </h4>
                                          </div>
                                          <div id="collapse-<%= index%>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-<%= index%>">
                                              <div class="panel-body">
                                                  <%= payment.answer %>
                                              </div>
                                          </div>
                                      </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div>
  <div class= "a-contact3" style="margin: 0px !important;"></div>
  <center>
    <div class= "b-contact3"><br>
      <h1><%= image_tag "left.png" %> Lets Contact With Us <%= image_tag "right.png" %></h1>
      <%= render "admin/contacts/form" %> 
    </div>
  </center>
</div>
<script>
   $('.panel-collapse').on('show.bs.collapse', function () {
    $(this).siblings('.panel-heading').addClass('active');
  });

  $('.panel-collapse').on('hide.bs.collapse', function () {
    $(this).siblings('.panel-heading').removeClass('active');
  });
</script>