<div>
 	<%= image_tag "HomeHeader.jpg", class: "h-image" %>
  	<center>
	  	<div class= "front-title4">
		    <h1>How It Works</h1>
		    <h4>Getting started and using our product is easy peasy!</h4>
	  	</div>
	</center>
</div><br><br><br><br><br>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<%= image_tag "1.png", height: "250px", width: "400px" %>
		</div>
		<div class="col-md-6">
			<h1>Write Your Requirements<%= image_tag "right.png" %></h1>
			<p><h5>think the or organization same proposal to affected heard reclined in be it reassuring are attained opinion, by he neighbours even again. Is and by value and that like can could from world takes of great copy and delicacy compared he such that the in and with hinself a the man.</h5></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h1>Sign The Contact<%= image_tag "right.png" %></h1>
			<p><h5>think the or organization same proposal to affected heard reclined in be it reassuring are attained opinion, by he neighbours even again. Is and by value and that like can could from world takes of great copy and delicacy compared he such that the in and with hinself a the man.</h5></p>
		</div>
		<div class="col-md-6">
			<%= image_tag "2.png", height: "250px", width: "400px" %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<%= image_tag "3.png", height: "250px",width: "400px" %>
		</div>
		<div class="col-md-6">
			<h1>We Start Developing<%= image_tag "right.png" %></h1>
			<p><h5>think the or organization same proposal to affected heard reclined in be it reassuring are attained opinion, by he neighbours even again. Is and by value and that like can could from world takes of great copy and delicacy compared he such that the in and with hinself a the man.</h5></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h1>Customer Support Begins<%= image_tag "right.png" %></h1>
			<p><h5>think the or organization same proposal to affected heard reclined in be it reassuring are attained opinion, by he neighbours even again. Is and by value and that like can could from world takes of great copy and delicacy compared he such that the in and with hinself a the man.</h5></p>
		</div>
		<div class="col-md-6">
			<%= image_tag "4.png",height: "250px", width: "400px" %>
		</div>
	</div>
</div>
<div>
 	<div class= "contact2"></div>
	<center>
		<div class= "d-contact"><br>
		  <h1><%= image_tag "left.png" %> Lets Contact With Us <%= image_tag "right.png" %></h1>
		  <%= render "admin/contacts/form" %> 
		</div>
	</center>
</div> 