<!-- <div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
    <h1>LETS CREATE SOMETHING TOGETHER</h1><br><br>
    <h3>SEND US A MESSAGE</h3>
   <center><%#= render "admin/contacts/form" %></center>
  </div>
</div> -->
<% @fontpages.each do |fontpage| %>
	<div>
	  	<%= image_tag "HomeHeader.jpg", class: "h-image" %>

		<div class= "front-title">
		    <center>
		    	<h1><%= fontpage.title1 %></h1>
		    	<h2><%= fontpage.title2 %></h2>
			</center>
		    <button type="button" class="btn-1">Learn More</button>
		</div>
	</div><br><br><br><br><br><br>
	<div class="container">
	    <div class="row">
	        <div class="col-md-4">
	        	<%= image_tag fontpage.image.url, width: "300px"%>
	        </div>
	        <div class="col-md-8">
	        	<h2><%= fontpage.heading %>!<%= image_tag "right.png" %></h2>
	        	<p><%= fontpage.body %></p>
	        	<button type="button" class="btn3"><span style="font-size:30px;cursor:pointer" onclick="openNav()">Get Started Now</span></button>
	        </div>
	    </div>
	</div>
<% end %>
<div class="fancy">
	<h1><%= image_tag "left.png" %>Bussiness Model We Fuel!<%= image_tag "right.png" %></h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="tab" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">On Demand</a></li>
                    <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">Social And Messaging</a></li>
                    <li role="presentation"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab">Booking And E-commerce</a></li>
                </ul><br>
                <!-- Tab panes -->
                <div class="tab-content tabs">
                    <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                    	<div class="container">
						    <div class="row">
						        <div id="carousel-example-generic" class="carousel slide hidden-xs" data-ride="carousel">
						            <!-- Wrapper for slides -->
						            <div class="carousel-inner">
						                <% @demands.each_with_index do |demand, index| %>
							                <div class="item <%= index == 1 ? 'active'  : '' %>"> 
							                    <div class="row">
							                        <div class="col-sm-3 col-sm-offset-2">
							                            <div class="col-item">
							                                <div class="photo">
							                                    <%= image_tag demand.image.url, height:"350px;" %>
							                                </div>
							                            </div>
							                        </div>
							                        <div class="col-sm-6 col-sm-offset-6 sm">
							                        	<div class="col-item">
													    <b><h2><%= demand.title %></h2></b><br>
													    <%= demand.description %><br>
													    <button type="button" class="btn2">View App Details</button>
													</div>
													</div>
							                    </div>
							                </div>
						               	<% end %>
						            </div>
						        </div>
						    </div>
					        <div class="row controlbtn">    
				                <div class="controls pull-right hidden-xs">
				                    <a class="btn btn-danger btn-lg" href="#carousel-example-generic" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
				                </div>
				            </div>
						</div>
					</div>
                    <div role="tabpanel" class="tab-pane fade" id="Section2">
                        <div class="container">
						    <div class="row">
						        <div id="carousel" class="carousel slide hidden-xs" data-ride="carousel">
						            <!-- Wrapper for slides -->
						            <div class="carousel-inner">
						                <% @socials.each_with_index do |social, index| %>
							                <div class="item <%= index == 1 ? 'active'  : '' %>"> 
							                    <div class="row">
							                        <div class="col-sm-3 col-sm-offset-2">
							                            <div class="col-item">
							                                <div class="photo">
							                                    <%= image_tag social.image.url, height:"350px;" %>
							                                </div>
							                            </div>
							                        </div>
							                        <div class="col-sm-6 col-sm-offset-6 sm">
							                        	<div class="col-item">
														    <b><h2><%= social.title %></h2></b><br>
														    <%= social.description %><br>
														    <button type="button" class="btn2">View App Details</button>
														</div>
													</div>
							                    </div>
							                </div>
						               	<% end %>
						            </div>
						        </div>
						    </div>
					        <div class="row controlbtn">    
				                <div class="controls pull-right hidden-xs">
				                    <a class="btn btn-danger btn-lg" href="#carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
				                </div>
					        </div>
						</div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="Section3">
                        <div class="container">
						    <div class="row">
						        <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
						            <!-- Wrapper for slides -->
						            <div class="carousel-inner">
						                <% @ecommerces.each_with_index do |ecommerce, index| %>
							                <div class="item <%= index == 1 ? 'active'  : '' %>"> 
							                    <div class="row">
							                        <div class="col-sm-3 col-sm-offset-2">
							                            <div class="col-item">
							                                <div class="photo">
							                                    <%= image_tag ecommerce.image.url, height:"350px;" %>
							                                </div>
							                            </div>
							                        </div>
							                        <div class="col-sm-6 col-sm-offset-6 sm">
							                        	<div class="col-item">
													    <b><h2><%= ecommerce.title %></h2></b><br>
													    <%= ecommerce.description %><br>
													    <button type="button" class="btn2">View App Details</button>
													</div>
													</div>
							                    </div>
							                </div>
						               	<% end %>
						            </div>
						        </div>
						    </div>
					        <div class="row controlbtn">    
				                <div class="controls pull-right hidden-xs">
				                    <a class="btn btn-danger btn-lg" href="#carousel-example" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
				                </div>
				            </div>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class= "car1">
<!-- CAROUSEL-->
	<div id='carousel-container'>
		<div id='homecarousel' class='carousel slide' data-ride='carousel'>
		    <!-- Indicators -->
		    <ol class='carousel-indicators'>
		        <li data-target='#homecarousel' data-slide-to='0' class='active'></li>
		        <li data-target='#homecarousel' data-slide-to='1'></li>
		        <li data-target='#homecarousel' data-slide-to='2'></li>
		    </ol>
		    <!-- Images -->
		    <div class='carousel-inner a1' role='listbox'>
				<h1><center><%= image_tag "left.png" %>What Our Customers Have To Say<%= image_tag "right.png" %></center></h1>
			  	<% @customers.each_with_index do |customer, index| %>
					<div class="item <%= index == 1 ? 'active'  : '' %>"> 
						<center>
							<h4>"<%= customer.message %>"<br> </h4>
							<%= image_tag customer.image.url, class: "img-circle"%><br>
							<%= customer.name %><br>
							<%= customer.designation %><br>
								
						</center>
					</div>
		       	<% end %>
			</div>
		</div>
	</div>
<div>
	<div class= "a-contact"></div>
	<center>
		<div class= "b-contact"><br>
			<h1><%= image_tag "left.png" %> Lets Contact With Us <%= image_tag "right.png" %></h1>
			<%= render "admin/contacts/form" %>	
		</div>
	</center>
</div>

<script>
	var slideIndex = 1;
	showDivs(slideIndex);

	function plusDivs(n) {
	  showDivs(slideIndex += n);
	}

	function showDivs(n) {
	  var i;
	  var x = document.getElementsByClassName("mySlides");
	  if (n > x.length) {slideIndex = 1}    
	  if (n < 1) {slideIndex = x.length}
	  for (i = 0; i < x.length; i++) {
	     x[i].style.display = "none";  
	  }
	  // x[slideIndex-1].style.display = "block";  
	}
</script>
<script>
function openNav() {
    document.getElementById("myNav").style.height = "100%";
}

function closeNav() {
    document.getElementById("myNav").style.height = "0%";
}
</script>