<% @landings.each do |landing| %>
    <div>
        <%= image_tag "HomeHeader.jpg", class: "h-image" %>
      	<div class= "row">
    		<div class= "col-md-6 front-title3">
    		    <h1><%= landing.title %>!</h1>
    		    <div class="col-md-3">
    		    	<button class= "btnapp">PRICING</button>
    		    </div>
    		    <div class="col-md-3">
    		    	<button class= "btnapp2 pull-right">GET IN TOUCH</button>
    		    </div>
    		</div>
    		<div class= "col-sd-6 pull-right">
    		  	<%= image_tag landing.image.url, class: "heading" %>
    		</div>
    	</div>
    </div><br><br><br><br><br>
    <center>
    	<h4> About Us </h4>
    	<h1><%= image_tag "left.png" %><%= landing.heading %>!<%= image_tag "right.png" %></h1>
    </center>
    <div class="container">
    	<center><%= landing.body %>.</center><br>
    </div><br><br><br>
<% end %>
<center>
	<h4> Demo Screens </h4>
	<h1><%= image_tag "left.png" %>Our App Screenshots!<%= image_tag "right.png" %></h1>
</center>
<div class="container">
    <div class="row">
        <div id="carousel-example-generic" class="carousel slide hidden-xs" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <%= image_tag "screenshot1.png", height: "270px" %>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <%= image_tag "screenshot2.png", height: "270px" %>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <%= image_tag "screenshot3.png", height: "270px" %>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <%= image_tag "screenshot4.png", height: "270px" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <%= image_tag "screenshot4.png", height: "270px" %>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <%= image_tag "screenshot4.png", height: "270px" %>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <%= image_tag "screenshot4.png", height: "270px" %>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <%= image_tag "screenshot4.png", height: "270px" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <center>
            <div class="row" style="margin: 80px 280px;">    
                <!-- Controls -->
                <div class="controls hidden-xs">
                    <a class="left fa fa-chevron-left btn btn-primary" href="#carousel-example-generic" data-slide="prev"></a>
                    <a class="right fa fa-chevron-right btn btn-primary" href="#carousel-example-generic" data-slide="next"></a>
                </div>
            </div>
        </center>
    </div>
</div>
<center>
	<h4> UI Components </h4>
	<h1><%= image_tag "left.png" %>Endless Features!<%= image_tag "right.png" %></h1>
</center>
<center>
	<h4> Technologies </h4>
	<h1><%= image_tag "left.png" %>What We Used!<%= image_tag "right.png" %></h1>
</center><br><br>
<div class="container">
    <div class="row">
        <% @icons.each do |icon| %>
        		<div class="col-md-3">
        			<%= image_tag icon.image.url, height: "50px" %>
        		</div>
        <% end %>
    </div>
</div>
<div class="contact1">
	<div class= "a-contact"></div>
	<center>
		<div class= "b-contact"><br>
			<h1><%= image_tag "left.png" %> Lets Contact With Us <%= image_tag "right.png" %></h1>
			<%= render "admin/contacts/form" %>	
		</div>
	</center>
</div>