<div>
  <%= image_tag "HomeHeader.jpg", class: "h-image" %>
  	<div class= "row">
		<div class= "col-md-6 front-title3">
		    <h1>Start Your Own Mobile E-Wallet business With Our Wish Clone, Piement!</h1>
		    <div class="col-md-3">
		    	<button class= "btnapp">PRICING</button>
		    </div>
		    <div class="col-md-3">
		    	<button class= "btnapp2 pull-right">GET IN TOUCH</button>
		    </div>
		</div>
		<div class= "col-sd-6 pull-right">
		  	<%= image_tag "header1.png", class: "heading" %>
		</div>
	</div>
</div><br><br><br><br><br>
<center>
	<h4> About Us </h4>
	<h1><%= image_tag "left.png" %>Our Story!<%= image_tag "right.png" %></h1>
</center>
<div class="container">
	<center>Appscrip evolved from years of experience making mobility solutions and being a tech solution provider for startups as 3Embed. We soon realized that there was no specialized provider who can act as a technology partner for startups that are working on on-demand , social , discovery , messaging and shopping platforms and that brought about the whole idea that is APPSCRIP today. We have identified the common denominator to help the end platform owners save time and money and allow them to focus on their core product. They can draw comfort from the fact that the underlying technology (Prebuilt IP) is already driving successful platforms around the world.</center><br>
</div><br><br><br>
<center>
	<h4> Demo Screens </h4>
	<h1><%= image_tag "left.png" %>Our App Screenshots!<%= image_tag "right.png" %></h1>
</center>
<div class="container">
    <div class="row">
        <div id="carousel-example-generic" class="carousel slide hidden-xs" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <%= image_tag "screenshot1.png", height: "270px" %>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <%= image_tag "screenshot2.png", height: "270px" %>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <%= image_tag "screenshot3.png", height: "270px" %>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <%= image_tag "screenshot4.png", height: "270px" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <%= image_tag "screenshot4.png", height: "270px" %>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <%= image_tag "screenshot4.png", height: "270px" %>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <%= image_tag "screenshot4.png", height: "270px" %>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <%= image_tag "screenshot4.png", height: "270px" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">    
            <div class="col-md-3">
                <!-- Controls -->
                <div class="controls hidden-xs">
                    <a class="left fa fa-chevron-left btn btn-primary" href="#carousel-example-generic" data-slide="prev"></a>
                    <a class="right fa fa-chevron-right btn btn-primary" href="#carousel-example-generic" data-slide="next"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<center>
	<h4> UI Components </h4>
	<h1><%= image_tag "left.png" %>Endless Features!<%= image_tag "right.png" %></h1>
</center>
<center>
	<h4> Technologies </h4>
	<h1><%= image_tag "left.png" %>What We Used!<%= image_tag "right.png" %></h1>
</center><br><br>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= image_tag "nodejs.png", height: "50px" %>
		</div>
		<div class="col-md-3">
			<%= image_tag "angular.png", height: "50px" %>
		</div>
		<div class="col-md-3">
			<%= image_tag "redis.png", height: "80px" %>
		</div>
		<div class="col-md-3">
			<%= image_tag "native.png", height: "50px" %>
		</div>
	</div>
</div>
<div class="contact1">
	<div class= "a-contact"></div>
	<center>
		<div class= "b-contact"><br>
			<h1><%= image_tag "left.png" %> Lets Contact With Us <%= image_tag "right.png" %></h1>
			<%= render "contacts/form" %>	
		</div>
	</center>
</div>