<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @payment.question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @payment.answer %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
