<%= form_for Contact.new do |form| %>
  <div class="field">
    <%= form.text_field :full_name, class: "form-control", placeholder: "Full Name" %>
  </div><br>

  <div class="field">
    <%= form.text_field :email, class: "form-control", placeholder: "Email" %>
  </div><br>

  <div class="field">
    <%= form.text_area :message, class: "form-control", placeholder: "message" %>
  </div><br>

  <div class="actions">
    <%= form.submit "submit", style: "background-color: #ea3e4c; border-radius: 12px; width: 300px;
    height: 45px; font-size: 25px; color: #fff;",class: "btn btn-default" %>
  </div>
<% end %>
