<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ecommerce.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ecommerce.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @ecommerce.image %>
</p>

<%= link_to 'Edit', edit_ecommerce_path(@ecommerce) %> |
<%= link_to 'Back', ecommerces_path %>
