<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ecommerce.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ecommerce.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @ecommerce.image.url %>
</p>

<%= link_to 'Edit', edit_admin_ecommerce_path(@ecommerce) %> |
<%= link_to 'Back', admin_ecommerces_path %>
