<%= form_for([:admin,@howitwork]) do |form| %>
  <% if howitwork.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(howitwork.errors.count, "error") %> prohibited this howitwork from being saved:</h2>

      <ul>
      <% howitwork.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title1 %><br>
    <%= form.text_field :title1, id: :howitwork_title1 %>
  </div>

  <div class="field">
    <%= form.label :title2 %><br>
    <%= form.text_field :title2, id: :howitwork_title2 %>
  </div>

  <div class="field">
    <%= form.label :heading %><br>
    <%= form.text_field :heading, id: :howitwork_heading %>
  </div>

  <div class="field">
    <%= form.label :body %><br>
    <%= form.cktext_area :body, id: :howitwork_body %>
  </div>

  <div class="field">
    <%= form.label :image %><br>
    <%= form.file_field :image, id: :howitwork_image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
