<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @team.image %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @team.designation %>
</p>

<<<<<<< HEAD
<%= link_to 'Edit', edit_admin_team_path(@team) %> |
<%= link_to 'Back', admin_teams_path %>
=======
<%#= link_to 'Edit', edit_admin_team_path(@team) %> |
<%#= link_to 'Back', admin_teams_path %>
>>>>>>> 55c4ab092dee64bfab79b5d043ff5c87cb3c8e22
