<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @social.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @social.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @social.image.url, height: "100px" %>
</p>

<%= link_to 'Edit', edit_admin_social_path(@social) %> |
<%= link_to 'Back', admin_socials_path %>
