<p id="notice"><%= notice %></p>

<h1>Contactpages</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Mail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contactpages.each do |contactpage| %>
      <tr>
        <td><%= contactpage.title %></td>
        <td><%= contactpage.subtitle %></td>
        <td><%= contactpage.phone %></td>
        <td><%= contactpage.address %></td>
        <td><%= contactpage.mail %></td>
        <td><%= link_to 'Show', admin_contactpage_url(:admin, @contactpage) %></td>
        <td><%= link_to 'Edit', edit_admin_contactpage_path(:admin, @contactpage) %></td>
        <td><%= link_to 'Destroy', admin_contactpage_url(:admin, @contactpage), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contactpage', new_admin_contactpage_path %>
