<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<%= image_tag "logo.png" %>
				<p>We can combine beautiful, modern designs with clean, functional and high-performance code to produce stunning Apps.</p>
			</div>
			<div class="col-md-4">
				<table class="table">
				  	<thead>
				    	<tr>
							<td>Company</td>
							<td>product</td>
							<td>support</td>
    					</tr>
  					</thead>
					<tbody>
						<tr>
							<td>About</td>
							<td>features</td>
							<td>Help Center</td>
						</tr>
						<tr>
							<td>Contact</td>
							<td>Security</td>
							<td>FAQ</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-4">
				<center>
					<button type="button" class="btn-4"><span style="font-size:30px;cursor:pointer" onclick="openNav()"> Get Started</span></button><br><br>
					<%= image_tag "fb.png", height: "30px" %>
					<%= image_tag "twitter.png", height: "30px" %>
					<%= image_tag "insta.png", height: "30px" %>
					<%= image_tag "linkin.png", height: "30px" %>
				</center>
			</div>
		</div>
	</div>

<hr style="border-top: 1px solid #000; border-style: dotted; margin: 40px 0;">
<center><p class="copy">Copyright @2018 Appscrip. All Right Reserved</p></center>
</footer>
 

