<!DOCTYPE html>
<html>
  <head>
    <title>Appscrip</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style type="text/css">
      .navbar-nav:hover {
        background-color: black;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" style="margin: -15px;"><%= image_tag "logo.png" %></a>
        </div>
        <ul class="nav navbar-nav">
          <li><button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button></li>
          <li class="active"><%= link_to "Home", admin_dashboard_index_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= current_user.email %></li>
            <li><%= link_to destroy_user_session_path, method: :delete do %>Log Out<% end %></li>
          <% else %>
            <li><%= link_to new_user_registration_path do %><span class="glyphicon glyphicon-user"></span> Sign Up<% end %></li>
            <li><%= link_to new_user_session_path do %><span class="glyphicon glyphicon-log-in"></span> Login<% end %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
      <button class="w3-bar-item w3-button w3-large"
      onclick="w3_close()">Close &times;</button>
      <%= link_to "dashboard", admin_dashboard_index_path,class: "w3-bar-item w3-button" %>
      <button class="dropdown-btn">Home Page 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <button class="dropdown-btn">Front Page 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <%= link_to "Front Pages", admin_fontpages_path %><br>
          <%= link_to "New Front page", new_admin_fontpage_path %><br>
        </div><br>
        <button class="dropdown-btn">Demand 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <%= link_to "Demands", admin_demands_path %><br>
          <%= link_to "New demand", new_admin_demand_path %><br>
        </div><br>
        <button class="dropdown-btn">social
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <%= link_to "socials", admin_socials_path %><br>
          <%= link_to "New social", new_admin_social_path %><br>
        </div><br>
        <button class="dropdown-btn">Ecommerce
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <%= link_to "Ecommerces", admin_ecommerces_path %><br>
          <%= link_to "New ecommerce", new_admin_ecommerce_path %><br>
        </div><br>
        <button class="dropdown-btn">Customer 
        <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <%= link_to "Customers", admin_customers_path %><br>
          <%= link_to "New Customer", new_admin_customer_path %><br>
        </div>
      </div>
      
      <button class="dropdown-btn">about Us
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <button class="dropdown-btn">Team 
        <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <%= link_to "Teams", admin_teams_path %><br>
          <%= link_to "New Team", new_admin_team_path %><br>
        </div>
        <%= link_to "About Us", admin_aboutus_path %><br>
        <%= link_to "New About Us", new_admin_aboutu_path %><br>
        </div>
        <%= link_to "About Us", admin_aboutus_path %><br>
        <%= link_to "New About Us", new_admin_aboutu_path %><br>
      </div>

      <button class="dropdown-btn">howitworks
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <%= link_to "How It Works", admin_howitworks_path %><br>
        <%= link_to "New How It Work", new_admin_howitwork_path %><br>
      </div>

      <button class="dropdown-btn">Products 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <%= link_to "Products", admin_products_path %><br>
        <%= link_to "New product", new_admin_product_path %><br>
      </div>

      <button class="dropdown-btn">Services
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <%= link_to "Services", admin_services_path %><br>
        <%= link_to "New Service", new_admin_service_path %><br>
      </div>

      <button class="dropdown-btn">FAQ
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <button class="dropdown-btn">General
        <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <%= link_to "general", admin_generals_path %><br>
          <%= link_to "New general", new_admin_general_path %><br>
          <a href="#">Link 3</a>
        </div>

        <button class="dropdown-btn">Licence
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <%= link_to "licence", admin_licences_path %><br>
          <%= link_to "New licence", new_admin_licence_path %><br>
          <a href="#">Link 3</a>
        </div>
        <button class="dropdown-btn">Payment
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <%= link_to "Payment", admin_payments_path %><br>
          <%= link_to "New Payment", new_admin_payment_path %><br>
          <a href="#">Link 3</a>
        </div>
        <%= link_to "FAQ", admin_faqs_path %><br>
        <%= link_to "New FAQ", new_admin_faq_path %><br>
        <a href="#">Link 3</a>
      </div>

      <button class="dropdown-btn">features
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <%= link_to "features", admin_features_path %><br>
        <%= link_to "New Feature", new_admin_feature_path %><br>
      </div>

      <button class="dropdown-btn">contact
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <%= link_to "Contact", admin_contacts_path %><br>
        <%= link_to "New Contact", new_admin_contact_path %><br>
      </div>

      <button class="dropdown-btn">landing page
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <%= link_to "landing", admin_landings_path %><br>
        <%= link_to "New landing", new_admin_landing_path %><br>
      </div>

      <button class="dropdown-btn">Icon
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <%= link_to "landing", admin_icons_path %><br>
        <%= link_to "New landing", new_admin_icon_path %><br>
      </div>
      <button class="dropdown-btn">Contact deatil
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <%= link_to "Contactdetail", admin_contactpages_path %><br>
        <%= link_to "New contactdetail", new_admin_contactpage_path %><br>

      </div>
    </div>
    <div id="main">
      <div class= "container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
<script>
  function w3_open() {
    document.getElementById("main").style.marginLeft = "25%";
    document.getElementById("mySidebar").style.width = "25%";
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("openNav").style.display = 'none';
  }
  function w3_close() {
    document.getElementById("main").style.marginLeft = "0%";
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("openNav").style.display = "inline-block";
  }

  /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
  var dropdown = document.getElementsByClassName("dropdown-btn");
  var i;

  for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var dropdownContent = this.nextElementSibling;
      if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
      } else {
        dropdownContent.style.display = "block";
      }
    });
  }
</script>